<div class="navbar-wrap">
  <div class="container">
    <div class="navbar navbar-custom">
      <div class="navbar-left">
        <a class="navbar-brand title" href="{% url 'index' %}">Gameshop</a>
        <ul class="nav navbar-nav">
          <li><a href="{% url 'search' %}">Search</a></li>
          <li><a href="{% url 'categories' %}">Categories</a></li>
          <li><a href="{% url 'leaderboards' %}">Leaderboards</a></li>
          <li><a href="{% url 'dashboard' %}">Your games</a></li>
        </ul>
      </div>
      <div class="navbar-right">
        <div class="navbar-basket">
          <i class="material-icons">shopping_basket</i>
        </div>
        <div class="navbar-user">
          <i class="material-icons">person</i>
        </div>
      </div>
    </div>
  </div>
</div>