{% load cart_count %}
{% load static %}

<div class="navbar-wrap">
  <div class="container">
    <div class="navbar navbar-custom">
      <div class="navbar-left">
        <a class="navbar-brand title" href="{% url 'index' %}">Gameshop</a>
        <ul class="nav navbar-nav">
          <li><a href="{% url 'search' %}">Search</a></li>
          <li><a href="{% url 'categories' %}">Categories</a></li>
          <li><a href="{% url 'leaderboards' %}">Leaderboards</a></li>
          <li><a href="{% url 'dashboard' %}">Your games</a></li>
        </ul>
      </div>
      <div class="navbar-right">
        <div class="navbar-basket">
          <a href="{% url 'cart' %}"><i class="material-icons">shopping_basket</i>Cart</a>
          <div class="navbar-item-badge {% if cart_count < 1 %} hidden{% endif %}">{% cart_count %}</div>
        </div>
        {% if user.is_authenticated %}
          <div class="navbar-user">
            <form action="/logout/" method="post">
              {% csrf_token %}
              <a href="#" onclick="submitParent(event)"><i class="material-icons">power_settings_new</i>Logout</a>
            </form>
          </div>
        {% else %}
          <div class="navbar-user">
            <a href="{% url 'login' %}"><i class="material-icons">person</i>Login</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>