{% extends "_base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="component">
        <div class="subtitle">Player actions</div>
        <ul class="subpages">
          <li><a href="{% url 'owned_games' %}">Owned games</a></li>
          <li><a href="{% url 'orders' %}">Orders</a></li>
        </ul>
        {% if request.user.is_developer %}
        <div class="subtitle">Developer actions</div>
        <ul class="subpages">
          <li><a href="{% url 'managed_games' %}">Managed games</a></li>
          <li><a href="{% url 'sales' %}">Sales</a></li>
          <li><a href="{% url 'new_game' %}">New game</a></li>
        </ul>
        {% endif %}
        <div class="subtitle">Settings</div>
        <ul class="subpages">
          <li><a href="{% url 'settings' %}">Settings</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <div class="component">
        {% block subcontent %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}