{% extends "_base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="component">
        <div class="component-title">Cart</div>
        <ul class="table align-last-right">
          <li class="table-header">
            <span class="table-col-2">Name</span>
            <span>Price</span>
          </li>
          {% for item_name, item_price in items.items %}
          <a href="#">
            <li>
              <span class="table-col-2">{{ item_name }}</span>
              <span>{{ item_price }} €</span>
            </li>
          </a>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="component">
        <div class="component-title">Total</div>
        <ul class="table">
          <li>
            <span class="cart-total">{{ total }} €</span>
          </li>
        </ul>
        <div class="btn-wrap btn-right">
          <a href="#" class="btn">Checkout</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}