{% extends "_base.html" %}

{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="component">
        <div class="component-title">Cart</div>
        <ul class="table align-last-right">
          <li class="table-header">
            <span class="table-col-2">Name</span>
            <span>Price</span>
            <span></span>
          </li>
          {% for game in games %}
          <li>
            <span class="table-col-2">
              <a href="{% url 'game' game.pk %}">{{ game.name }}</a>
            </span>
            <span>{{ game.price }} €</span>
            <span>
              <a href="#" data-action="cart-remove" data-game-id="{{ game.pk }}">Remove</a>
            </span>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="component">
        <div class="component-title">Total</div>
        <ul class="table">
          <li>
            <span class="cart-total">{{ total }} €</span>
          </li>
        </ul>
        <div class="btn-wrap">
          {% if user.is_authenticated %}
          <form action="http://payments.webcourse.niksula.hut.fi/pay/" method="POST">
            {% if payment_form %}
              {{ payment_form }}
              <a href="#" class="btn" onclick="submitParent(event)">Checkout</a>
            {% else %}
              <a href="#" class="btn" disabled>Checkout</a>
            {% endif %}
          </form>
          <div class="btn-help">Checkout will redirect you to the Simple Payments service.</div>
          {% else %}
          <a href="{% url 'login' %}" class="btn" disabled>Login for checkout</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script src="{% static "js/cart.js" %}"></script>
{% endblock %}