{% extends "_base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="component alphabet">
        {% for letter in alphabet %}
        <div class="letter-holder {% if not letter in first_letters %} disabled{% endif %}">
          <div class="letter">
            <a href="#{{ letter }}">{{ letter }}</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="categories col-md-9">
      <div class="component">

        {# A lot of looping, but the number of categories is limited #}
        {% for letter in alphabet %}
          {% if letter in first_letters %}
          <div class="subtitle" id="{{ letter }}">{{ letter }}</div>
          {% for group_name, categories in category_groups.items %}
            {% if letter == group_name %}
            <ul>
              {% for category in categories %}
              <li class="category">
                <a href="{% url 'search' %}?category={{category.pk}}" class="category">{{ category }}</a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          {% endfor %}
          {% endif %}
        {% endfor %}

      </div>

    </div>
  </div>
</div>
{% endblock %}