{% extends "_base.html" %}

{% load static %}

{% block title %}
<title>Gameshop - {{ game.name }}</title>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="component component-parent">
        <!-- this row element is used as a width target if the iframe is scaled -->
        <div class="row" id="scale-target-width">
          <div class="component col-md-3">
            {% if game.image %}
              <div class="aspect-ratio aspect-ratio-100">
                <div>
                  <img src="{{ game.image.url }}" alt="{{ game.name }} image">
                </div>
              </div>
            {% endif %}
          </div>
          <div class="component col-md-9">
            <div class="row">
              <div class="col-md-12">
                <div class="title">{{ game.name }}</div>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row">
              <div class="col-md-12">
                <p>{{ game.description }}</p>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row">
              <div class="col-md-12">
                <div class="badge-row">
                  <div class="double-badge">
                    <div class="badge badge-s">Developer</div>
                    <div class="badge badge-s badge-nobg">{{ game.created_by.public_name }}</div>
                  </div>
                  <div class="double-badge">
                    <div class="badge badge-s">Release date</div>
                    <div class="badge badge-s badge-nobg">{{ game.created_at }}</div>
                  </div>
                  <div class="double-badge">
                    <div class="badge badge-s">Category</div>
                    <div class="badge badge-s badge-nobg">{{ game.category }}</div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="badge-row">
                  <div class="double-badge">
                    <span class="badge">{{ game.price }} €</span>
                    {% if game.available and not owned and not request.user == game.created_by %}
                    <a href="#" class="btn" data-action="cart-add" data-game-id="{{ game.pk }}">Add to cart</a>
                    {% elif not game.available%}
                    <div class="btn disabled" disabled="disabled">Not available</div>
                    {% else %}
                    <div class="btn disabled" disabled="disabled">Already owned</div>
                    {% endif %}
                  </div>
                  {% if request.user == game.created_by %}
                  <a href="{% url 'game_edit' game.pk %}" class="btn">Edit</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# show game and leaderboards if user owns the game or is the developer #}
  {% if owned or game.created_by == request.user %}
  <!-- game -->
  <div class="row">
    <div class="col-md-12">
      <div class="component game-component">
        <div class="btn-wrap">
          <div class="btn btn-s btn-secondary" id="scale-toggle">Toggle scaling</div>
        </div>
        <div class="game-wrap" id="game-wrap">
          {% if game.url %}
          <div class="iframe-wrap" id="iframe-wrap">
            <iframe class="" src="{{ game.url }}" id="game-iframe" frameborder="0"></iframe>
          </div>
          {% else %}
          <div class="game-error">Game URL not found</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!-- game ends -->
  <!-- scores -->
  <div class="row">
    <div class="col-md-6">
      <div class="component">
        <div class="component-title">Leaderboards</div>
        <ul class="table align-last-right">
          <li class="table-header">
            <span>#</span>
            <span class="table-col-2">Username</span>
            <span>Score</span>
          </li>
          {% for score in leaderboard %}
          <li>
            <span>{{ forloop.counter }}</span>
            <span class="table-col-2">{{ score.user.username }}</span>
            <span>{{ score.score }}</span>
          </li>
          {% endfor %}
          {% if not leaderboard %}
          <li><span>No scores</span></li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="component">
        <div class="component-title">Your highscores</div>
        <ul class="table align-last-right">
          <li class="table-header">
            <span>#</span>
            <span>Score</span>
          </li>
          {% for score in your_highscores %}
          <li>
            <span>{{ forloop.counter }}</span>
            <span>{{ score.score }}</span>
          </li>
          {% endfor %}
          {% if not your_highscores %}
          <li><span>No scores</span></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <!-- scores ends -->
  {% endif %}

</div>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script src="{% static "js/cart.js" %}"></script>
  <script src="{% static "js/message.js" %}"></script>
{% endblock %}