{% extends "_base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="component component-parent">
        <div class="row">
          <div class="component col-md-3">
            TODO: game images
          </div>
          <div class="component col-md-9">
            <div class="title">Some game</div>
            <div class="table">
              <div class="table-label">Developer</div>
              <div class="table-value">Some developer</div>
              <div class="table-label">Release date</div>
              <div class="table-value">1 Jan 1234</div>
              <div class="table-label">Categories</div>
              <div class="table-value">Category 1, Category 2, Category 3</div>
            </div>
            <div class="badge-row">
              <span class="badge">12,34 €</span>
              <a href="#" class="btn">Buy and play</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="component">
        <div class="game-wrap aspect-ratio">
          <div class="game">
            TODO: play game (shown if owned)
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="component">
        TODO: leaderboards
      </div>
    </div>
  </div>
</div>
{% endblock %}