{% extends "_base.html" %}

{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="component component-parent">
        <div class="row">
          <div class="component col-md-3">
            TODO: game images
          </div>
          <div class="component col-md-9">
            <div class="row">
              <div class="col-md-12">
                <div class="title">Some game</div>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row">
              <div class="col-md-6">
                <div class="badge-row">
                  <div class="badge badge-s">Developer</div>
                  <div class="badge badge-s badge-nobg">Some developer</div>
                </div>
                <div class="badge-row">
                  <div class="badge badge-s">Release date</div>
                  <div class="badge badge-s badge-nobg">Jan 1, 1234</div>
                </div>
                <div class="badge-row">
                  <div class="badge badge-s">Categories</div>
                  <div class="badge badge-s badge-nobg">Category 1, Category 2</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="badge-row float-right">
                  <span class="badge">12,34 €</span>
                  <a href="#" class="btn" data-action="cart-add" data-game-id="1">Buy and play</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="component">
        <div class="game-wrap aspect-ratio">
          <div class="game">
            TODO: play game (shown if owned)
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="component">
        TODO: leaderboards
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script src="{% static "js/cart.js" %}"></script>
{% endblock %}