{% extends "_base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aspect-ratio aspect-ratio-50">
          <div class="component">
            <div class="component-title">TODO: jumbo</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="component featured">
        <div class="featured-title">Some game with a long name</div>
        <div class="featured-buy"><span class="badge badge-s">12,34 €</span><a href="#" class="btn btn-s">Buy and play</a></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="component featured">
        <div class="featured-title">Some game</div>
        <div class="featured-buy"><span class="badge badge-s">12,34 €</span><a href="#" class="btn btn-s">Buy and play</a></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="component featured">
        <div class="featured-title">Another game</div>
        <div class="featured-buy"><span class="badge badge-s">12,34 €</span><a href="#" class="btn btn-s">Buy and play</a></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="component featured">
        <div class="featured-title">Some game 2</div>
        <div class="featured-buy"><span class="badge badge-s">12,34 €</span><a href="#" class="btn btn-s">Buy and play</a></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}