{% extends "_base.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="component">
        <div class="component-title">Login</div>
        <!-- login form -->
        <form action="/login/" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form }}
          <div class="btn-wrap btn-right">
            <input class="btn" type="submit" name="loginBtn" value="Login">
          </div>
        </form>
        <!-- login form end -->
        <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false">facebook</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="component">
        <div class="component-title">Register</div>
        <!-- register form -->
        <form action="/register/" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% include "checkbox_form_fields.html" with form=register_form %}
          <div class="btn-wrap btn-right">
            <input class="btn" type="submit" name="registerBtn" value="Register">
          </div>
        </form>
        <!-- register form end -->
      </div>
    </div>
  </div>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=410422715960410";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}
