{% extends "_base.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="component">
        <div class="component-title">Login</div>
        <!-- login form -->
        <form action="/login/" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form }}
          <div class="btn-wrap btn-right">
            <input class="btn" type="submit" name="loginBtn" value="Login">
          </div>
        </form>
        <!-- login form end -->
        {% load socialaccount %}
        {% providers_media_js %}
        <form action="{% provider_login_url "facebook" method="js_sdk" %}">
        <button class="btn-social btn-facebook" ><i class="fa fa-facebook"></i>facebook</button>
        </form>
      </div>
    </div>
    <div class="col-md-4">
      <div class="component">
        <div class="component-title">Register</div>
        <!-- register form -->
        <form action="/register/" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ register_form }}
          <div class="btn-wrap btn-right">
            <input class="btn" type="submit" name="registerBtn" value="Register">
          </div>
        </form>
        <!-- register form end -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
