{% extends "_yourgames.html" %}

{% block subcontent %}
  <div class="component-title">Managed games</div>
  {% for game in games %}
  <div class="game-list">
    <div class="game">
      <div class="game-title">{{ game.name }}</div>
      <div class="game-description">{{ game.description }}</div>
      <div class="divider"></div>
      <div class="game-details">
        <div class="badge-row">
          <div class="double-badge">
            <div class="badge badge-s">Available</div>
            <div class="badge badge-s badge-nobg">
              {% if game.available %}
              Yes
              {% else %}
              No
              {% endif %}
            </div>
          </div>
        </div>
        <a href="{% url 'game_edit' game.pk %}" class="btn btn-s">Edit</a>
        <a href="{% url 'game' game.pk %}" class="btn btn-s btn-secondary">Play</a>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}