{% extends "_yourgames.html" %}

{% load field_type %}

{% block subcontent %}
  <div class="component-title">New game</div>
  <div>
    <form action="{% url 'new_game' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      {# custom render form to fix the checkbox layout... #}
      {% include "checkbox_form_fields.html" with form=form %}

      <div class="btn-wrap">
        <input type="submit" value="Submit" class="btn">
      </div>
    </form>
  </div>
{% endblock %}