{% extends "_yourgames.html" %}

{% block subcontent %}
  <div class="component-title">Orders</div>
  <ul class="table align-last-right">
    <li class="table-header">
      <span>Order #</span>
      <span class="table-col-2">Purchases</span>
      <span>Date</span>
      <span>Total</span>
    </li>
    <a href="#">
      <li>
        <span>1</span>
        <span class="table-col-2">Some game name</span>
        <span>Jan 1, 1234</span>
        <span>12,34 €</span>
      </li>
    </a>
    <a href="#">
      <li>
        <span>1</span>
        <span class="table-col-2">Some game name</span>
        <span>Jan 1, 1234</span>
        <span>12,34 €</span>
      </li>
    </a>
    <a href="#">
      <li>
        <span>1</span>
        <span class="table-col-2">Some game name</span>
        <span>Jan 1, 1234</span>
        <span>12,34 €</span>
      </li>
    </a>
    <a href="#">
      <li>
        <span>1</span>
        <span class="table-col-2">Some game name</span>
        <span>Jan 1, 1234</span>
        <span>12,34 €</span>
      </li>
    </a>
  </ul>
  <div class="component selected-order">
    <div class="component-title">Order 1</div>
    <ul class="table align-last-right">
      <li class="table-header">
        <span class="table-col-2">Item</span>
        <span>Price</span>
      </li>
      <a href="#">
        <li>
          <span class="table-col-2">Some game name</span>
          <span>12,34 €</span>
        </li>
      </a>
      <a href="#">
        <li>
          <span class="table-col-2">Some game name</span>
          <span>12,34 €</span>
        </li>
      </a>
      <a href="#">
        <li>
          <span class="table-col-2">Some game name</span>
          <span>12,34 €</span>
        </li>
      </a>
      <a href="#">
        <li>
          <span class="table-col-2">Some game name</span>
          <span>12,34 €</span>
        </li>
      </a>
      <li class="table-total">
        <span class="table-col-2"></span>
        <span>12,34 €</span>
      </li>
    </ul>
  </div>
{% endblock %}