{% extends "_base.html" %}

{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="component">
        <div class="component-title">Payment error</div>
        <p>There was an error processing your payment. Please note your payment reference and try again.</p>
        <p>Payment reference number: {{ payment_ref }}</p>
        <div class="btn-wrap">
          <a href="{% url 'cart' %}" class="btn">Return to cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
