{% extends "_base.html" %}

{% load field_type %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="component">
        <div class="component-title">Filters</div>
        <form action="{% url 'search' %}" method="get">
          {% csrf_token %}
          {{ form }}
          <div class="btn-wrap">
            <input type="submit" value="Apply filters" class="btn">
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="component">
            <div class="component-title">Results</div>
            {% if results|length < 1 %}
            <p>No results</p>
            {% endif %}
            <div class="game-list">
              {% for game in results %}
              <div class="game">
                <div class="game-image"></div>
                <div class="game-details">
                  <div class="game-title">{{ game.name }}</div>
                  <div class="game-description">{{ game.description }}</div>
                  <div class="divider"></div>
                  <div class="game-details">
                    <div class="badge-row">
                      <div class="double-badge">
                        <div class="badge badge-s">Developed by</div>
                        <div class="badge badge-s badge-nobg">{{ game.created_by.public_name }}</div>
                      </div>
                      <div class="double-badge">
                        <div class="badge badge-s">Price</div>
                        <div class="badge badge-s badge-nobg">{{ game.price }} €</div>
                      </div>
                    </div>
                    <a href="{% url 'game' game.pk %}" class="btn btn-s">Go to page</a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}