// compile...

@function col($base)
  @if $base > 253
    @return rgb(255, 255, 255)
  @else
    @return rgb($base, $base+1, $base+2)

/* based on http://coderesponsible.com/useful-sass-mixins/ */
@mixin gradient($topleft, $bottomright)
    // FF3.6+
    background: -moz-linear-gradient(topleft,  $topleft 0%, $bottomright 100%)
    // Chrome, Safari4+
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $topleft), color-stop(100%, $bottomright))
    // Chrome10+, Safari5.1+
    background: -webkit-linear-gradient(left top, $topleft 0%, $bottomright 100%)
    // Opera 11.10+
    background: -o-linear-gradient(topleft, $topleft 0%, $bottomright 100%)
    // IE10+
    background: -ms-linear-gradient(topleft, $topleft 0%, $bottomright 100%)
    // W3C
    background: linear-gradient(to bottom right, $topleft 0%, $bottomright 100%)
    // IE6-9
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 )


$font-size: 14px
$font-size-s: 12px
$font-size-l: 24px
$font-size-xl: 36px

$blue: rgb(50, 115, 220)
$green: rgb(35, 209, 96)
$green-l: rgb(55, 229, 116)
$red: rgb(255, 56, 96)
$yellow: rgb(255, 221, 87)

$navy-d: rgb(10, 12, 15)
$grey: col(30)
$grey-d: col(10)
$grey-l: col(50)
$grey-el: col(65)

$component-bg: $grey

body
  font-family: 'Open Sans', sans-serif
  font-size: $font-size
  background-color: $grey-d
  color: col(205)
  overflow-y: scroll

p
  padding: 15px 0
  margin: 0

a
  color: col(255)

  &:hover
    color: $blue
    text-decoration: none

.material-icons
  font-size: inherit

  &.icon-xl
    font-size: 48px

.aspect-ratio
  position: relative

  &::before
    display: block
    content: ""
    padding-bottom: 62.5%

  &.aspect-ratio-50
    &::before
      padding-bottom: 50%

  &.aspect-ratio-100
    &::before
      padding-bottom: 100%

  > div:first-child
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0

    img
      width: 100%

.navbar-custom
  $navbar-hover-col: $blue
  $navbar-hover-bg: $grey-l
  $navbar-active-col: col(255)
  $navbar-active-bg: $blue
  $navbar-pad: 20px
  $navbar-h: 50px

  margin: $navbar-pad 0
  border: 0

  a
    color: col(255)
    text-transform: uppercase

  .navbar-brand
    font-size: $font-size-l

  .navbar-toggle
    .icon-bar
      background: col(255)

  .navbar-nav
    font-size: $font-size-s

    i.material-icons
      margin-right: 10px

    li
      form
        a
          position: relative
          display: block
          padding: 15px
          line-height: 20px

          @media only screen and (max-width: 767px)
            padding: 10px 15px

      a,
      form a
        &:hover
          background: $navbar-hover-bg

      &.active
        a,
        form a
          background: $navbar-active-bg
          color: $navbar-active-col

  .navbar-cart
    .navbar-cart-badge
      position: absolute
      top: 13px - 5px
      left: -5px
      line-height: 12px
      font-size: 12px
      padding: 4px 8px
      border-radius: 10px
      background: $red
      color: col(255)

      @media only screen and (max-width: 767px)
        top: 10px
        left: auto
        right: 15px

      &.hidden
        display: none

.jumbotron
  padding: 0
  margin-bottom: 15px
  background: none

  .jumbo-row
    position: relative
    display: table
    height: 100%
    width: 100%
    z-index: 2

    .vertical-center
      display: table-cell
      vertical-align: middle

  .jumbo-game-title
    font-size: $font-size-xl
    text-transform: uppercase
    color: col(255)

  .jumbo-game-description
    padding: 15px 0 30px
    fol


.featured
  .component
    position: relative

    .featured-title
      font-size: $font-size-l
      line-height: $font-size-l
      height: $font-size-l * 2
      margin-bottom: 45px

    .featured-title,
    .featured-buy
      position: relative
      z-index: 2

      .double-badge
        margin: 0

.jumbotron,
.featured
  .component
    .backdrop
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      overflow: hidden
      z-index: 1

      &::before
        display: block
        content: ""
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        background: none
        @include gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.2))

      img
        width: 100%

.component
  padding: 30px
  margin-bottom: 15px
  background: $component-bg

  &.component-parent
    padding: 0

    > .row
      margin-left: 0
      margin-right: 0

    .component
      margin-bottom: 0

  > .component
    margin: 30px 0
    border: 1px solid $blue

    &:first-child
      margin-top: 0

    &:last-child
      margin-bottom: 0

  .component-title
    padding-bottom: 15px
    font-size: $font-size-s
    text-transform: uppercase

    &:not(:first-child)
      padding-top: 30px

  .title
    font-size: $font-size-l
    text-transform: uppercase
    color: col(255)

  .subtitle
    padding: 15px 0
    font-size: $font-size-s
    text-transform: uppercase

    &:first-child
      padding-top: 0

  .float-right
    float: right

  .divider
    height: 1px
    margin: 15px 0
    background: $grey-el

  ul
    padding: 0
    margin: 0
    list-style-type: none

    &:first-child
      margin-top: 0

    &:last-child
      margin-bottom: 0

    &:not(.table)
      > li
        > a
          display: block
          padding: 10px 15px
          margin-bottom: 5px
          background: $grey-l

          &:hover
            background: $blue
            color: col(255)

        &:last-child
          > a
            margin-bottom: 0

    &.table
      width: 100%
      margin: 15px 0

      li
        display: flex
        width: 100%
        border-bottom: 1px solid $grey-l

        &.table-header
          background: $grey-l

        &.table-total
          background: $grey-l

        &:only-child,
        &:not(.table-header):first-child
          border-top: 1px solid $grey-l

        &.selected
          background: $blue

          &:hover
            a
              color: col(255)

        > a
          display: flex
          width: 100%
          height: 100%
          text-decoration: none

        span
          flex: 1
          padding: 10px 15px

          &.table-col-2
            flex: 2

      &.align-last-right
        li
          span:last-child
            text-align: right

  .btn-wrap
    margin-top: 30px

    &:first-child
      margin-top: 0

    &.btn-right
      text-align: right

    .btn-help
      padding-top: 15px
      font-size: $font-size-s

  .btn
    display: inline-block
    height: 48px
    line-height: 48px
    padding: 0 24px
    border-radius: 0
    background: $blue
    color: col(255)

    &:not([disabled]):hover
      background: col(255)
      color: $blue

    &.btn-s
      height: 36px
      line-height: 36px
      padding: 0 16px
      font-size: $font-size-s
      text-transform: uppercase

    &.btn-l
      height: 64px
      line-height: 64px
      padding: 0 24px
      font-size: $font-size-l
      text-transform: uppercase

    &.btn-secondary
      background: $grey-el

      &:hover
        background: col(255)
        color: $grey

    &.btn-danger
      background: $red

      &:hover
        background: col(255)
        color: $red

    &.btn-green
      background: $green

      &:hover
        background: col(255)
        color: $green

  .badge-row
    overflow: hidden
    padding: 5px 0

    .badge,
    .btn,
    .double-badge
      float: left

    &:first-child
      padding-top: 0

    &:last-child
      padding-bottom: 0

    .btn + .btn
      margin-left: 15px

    & > .double-badge
      margin-bottom: 15px

    .double-badge
      margin-right: 15px

  .badge
    display: inline-block
    height: 48px
    line-height: 46px
    padding: 0 24px
    font-size: $font-size
    background: $grey-l
    border-radius: 0
    font-weight: 400
    border: 1px solid $grey-l

    &.badge-nobg
      background: none

    &.badge-s
      height: 36px
      line-height: 34px
      padding: 0 16px
      font-size: $font-size-s
      text-transform: uppercase

    &.badge-l
      height: 64px
      line-height: 64px
      padding: 0 24px
      font-size: $font-size-l
      text-transform: uppercase

  form

    label
      display: block
      position: relative
      margin: 15px 0 5px
      padding: 0
      font-weight: 400

      &:first-of-type
        margin-top: 15px

    ul.errorlist
      li
        color: $red
        font-size: $font-size-s
        text-transform: uppercase

    .helptext
      display: block
      padding: 5px 0 15px
      font-size: $font-size-s
      color: $blue

      &:last-child
        padding-bottom: 0

    input:not([type="checkbox"]):not([type="submit"]):not([type="file"]),
    select
      width: 100%
      height: 32px
      line-height: 32px
      padding: 0 10px
      margin: 0
      background: $grey-l
      border: 1px solid $grey-el
      border-radius: 0
      outline: 0
      overflow: hidden

      &:disabled
        background: none

    textarea
      width: 100%
      padding: 10px
      background: $grey-l
      border: 1px solid $grey-el
      outline: 0

    input[type="checkbox"]
      display: none

      & + label
        margin-top: 30px
        padding-left: 39px
        line-height: 24px

        &::after
          position: absolute
          display: block
          content: ""
          height: 24px
          width: 24px
          top: 0
          left: 0
          background: $grey-l
          border: 1px solid $grey-el
          z-index: 2

      &:checked + label
        &::before
          position: absolute
          display: block
          content: ""
          height: 12px
          width: 12px
          top: 6px
          left: 6px
          background: $blue
          z-index: 3

.alphabet
  padding: 30px
  overflow: hidden

  .letter-holder
    position: relative
    float: left
    width: 23%
    margin: 1%

    @media only screen and (max-width: 991px)
      width: 8%
      margin: 1%

    @media only screen and (max-width: 576px)
      width: 10.5%
      margin: 1%

    &::after
      display: block
      content: ""
      width: 100%
      padding-bottom: 100%

    .letter
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      background: $grey-l
      overflow: hidden
      cursor: pointer
      display: flex
      align-items: center
      justify-content: center

      a
        display: flex

        &:hover
          color: col(255)

    &:not(.disabled) .letter:hover
      background: $blue

    &.disabled .letter
      background: none
      cursor: auto

      a
        pointer-events: none

.categories
  .subtitle
    padding: 15px 0
    font-weight: 700
    font-size: 24px
    text-transform: uppercase

    &:first-child
      padding-top: 0

  .category
    text-transform: capitalize

.game-component
  position: relative
  float: left
  clear: both
  min-width: 100%

  .game-wrap
    position: relative
    float: left
    clear: both
    width: 100%
    text-align: center
    line-height: 0

    .iframe-wrap
      display: inline-block
      border: 1px solid $grey-l
      background: col(255)

      iframe
        // defaults
        width: 640px
        height: 480px


.game-list

  .game
    padding: 30px
    margin-top: 15px
    background: $grey-l

    .game-title
      font-size: $font-size-l
      text-transform: uppercase
      color: col(255)

    .game-description
      padding-top: 15px
      font-size: $font-size-s

    .game-details
      overflow: hidden

      .badge-row
        float: left

        .badge
          border-color: $grey-el

        .badge:not(.badge-nobg)
          background: $grey-el

        .double-badge
          margin-bottom: 0

          @media only screen and (max-width: 1199px)
            margin-bottom: 15px

      .btn
        float: right
        margin-left: 15px

.cart-total
  color: col(255)
  font-size: $font-size-l
  text-align: right